In [38]:
# Lists, Strings, Dictionaries, and Nested Structures

In [39]:
# 1. Year List Creation
# Create a list years_list that includes the year of your birth and the next five years (total 6 years).

birth_year = 2001
years_list = [birth_year + i for i in range(6)]
print(years_list)

[2001, 2002, 2003, 2004, 2005, 2006]

In [40]:
# 2. Third Birthday Year
# Print the year in years_list when you were 3 years old. Hint: Remember, your 0th year is the first item.

birth_year = 2001
years_list = [birth_year + i for i in range(6)]
Third_Birthday_Year = years_list[3]
print("Third_Birthday_Year :",Third_Birthday_Year)

Third_Birthday_Year : 2004

In [41]:
# 3. Oldest Year
# Which year in years_list represents the most recent (your oldest age)?

birth_year = 2001
years_list = [birth_year + i for i in range(6)]
Oldest_Year = years_list[-1]
print("Oldest_Year :",Oldest_Year)

Oldest_Year : 2006

In [42]:
# 4. List of Things
# Create a list called things with the following items:
# ["mozzarella", "cinderella", "salmonella"]

things = ["mozzarella", "cinderella", "salmonella"]
print(things)

['mozzarella', 'cinderella', 'salmonella']

In [43]:
# 5. Capitalization Check
# Capitalize the item that refers to a person in the things list. Print the list. Did the original list change?

things = ["mozzarella", "cinderella", "salmonella"]
capitalized_person = things[1].capitalize()

print("Capitalized person:", capitalized_person)
print("Original list after capitalize():", things)

# capitalize() returns a new string.
# It does not modify the original list unless you assign it back.

things[1] = things[1].capitalize()
print("Modified list:", things)

Capitalized person: Cinderella
Original list after capitalize(): ['mozzarella', 'cinderella', 'salmonella']
Modified list: ['mozzarella', 'Cinderella', 'salmonella']

In [44]:
# 6. Surprise List
# Create a list called surprise_list with these values:
# ["Groucho", "Chico", "Harpo"]

surprise_list = ["Groucho", "Chico", "Harpo"]
print(surprise_list)

['Groucho', 'Chico', 'Harpo']

In [45]:
# 7. String Transformation
# Take the last item in surprise_list:
# Lowercase it
# Reverse it
# Capitalize the result Then print it.

surprise_list = ["Groucho", "Chico", "Harpo"]

last_item = surprise_list[-1]
lowercased = last_item.lower()
reversed_str = lowercased[::-1]
capitalize = reversed_str.capitalize()
print(capitalize)

Oprah

In [46]:
# 8. English-to-French Dictionary
# Create a dictionary e2f that maps these:
# dog → chien
# cat → chat
# walrus → morse
# Print the dictionary.

e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [47]:
# 9. Translate 'walrus' to French
# Use e2f to print the French word for “walrus.”

french_walrus = e2f["walrus"]
print("French word for 'walrus':", french_walrus)

French word for 'walrus': morse

In [48]:
# 10. Reverse Dictionary
# Create a reverse dictionary f2e from e2f using the .items() method. Print f2e.

f2e = {value: key for key, value in e2f.items()}
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [49]:
# 11. Translate 'chien' to English
# Use f2e to print the English word for “chien.”

english_dog = f2e["chien"]
print("English word for 'chien':", english_dog)

English word for 'chien': dog

In [50]:
# 12. Get All English Words
# Print the set of all English words (the keys from e2f).

english_words = set(e2f.keys())
print(english_words)

{'walrus', 'dog', 'cat'}

In [51]:
# 13. Create a Nested Dictionary (life)
# Create a dictionary life structured like this:
# {
# 'animals': {
# 'cats': ['Henri', 'Grumpy', 'Lucy'],
# 'octopi': {},
# 'emus': {}
# },
# 'plants': {},
# 'other': {}
# }

life = {
    'animals': {
        'cats': ['Henri', 'Grumpy', 'Lucy'],
        'octopi': {},
        'emus': {}
    },
    'plants': {},
    'other': {}
}

print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}

In [52]:
# 14. Top-Level Keys
# Print the top-level keys of life.

top_level_keys = life.keys()
print(top_level_keys)

dict_keys(['animals', 'plants', 'other'])

In [53]:
# 15. Animal Categories
# Print the keys inside life['animals'].

animal_categories = life['animals'].keys()
print(animal_categories)

dict_keys(['cats', 'octopi', 'emus'])

In [54]:
# 16. List of Cat Names
# Print the list of cat names stored in life['animals']['cats'].

cat_names = life['animals']['cats']
print(cat_names)

['Henri', 'Grumpy', 'Lucy']