In [1]:
# 1. Question 1:
# Create a variable age and assign it the value 25 .
# Then print the value of age along with its data type using the type() function.

age = 25
print("Age =",age,"\nType =",type(age))

Age = 25
Type = <class 'int'>

In [2]:
# 2. Question 2:
# Assign the number 12.5 to a variable price . Print both the variable and its data type.
# Then assign the value 12 to the same variable and print its data type again. What do you observe?

num = 12.5
print(num,type(num))
num = 12
print(num,type(num))

12.5 <class 'float'>
12 <class 'int'>

In [3]:
# 3. Question 3:
# Create a variable is_raining and set it to True . Print the value of the variable along with its type.
# Then set is_raining to False and print the new value and type.

is_raining = True
print(is_raining,type(is_raining))
is_raining = False
print(is_raining,type(is_raining))

True <class 'bool'>
False <class 'bool'>

In [4]:
# 4. Question 4:
# Create a variable my_name and store your full name in it as a string.
# Then print the value of my_name using single quotes '.

my_name = "Yash Yennewar"
print('Str =',my_name,'\nType =',type(my_name))

Str = Yash Yennewar
Type = <class 'str'>

In [5]:
# 5. Question 5:
# Write a Python program that asks the user for their name and age using the input() function.
# Store the inputs in variables and print a sentence like "Hello, [Name]! You are [Age] years old."
# Ensure you cast the age to an integer.

name = input("Enter your Name :")
age = int(input("Enter your age :"))
print("Hello,",name,"! You are",age,"years old.")

Hello, Yash ! You are 24 years old.

In [6]:
# 6. Question 6:
# Create two variables x and y and assign them the values 10 and 3.5 , respectively.
# Print their values and types. Then, create a new variable sum_xy and store the sum of x and y .
# Print the result and its type.

x = 10
y = 3.5
print("x =",x,"\nType =",type(x),"\ny =",y,"\nType =",type(y))
sum_xy = x + y
print("sum_xy =",sum_xy,"\tType =",type(sum_xy))

x = 10
Type = <class 'int'>
y = 3.5
Type = <class 'float'>
sum_xy = 13.5 	Type = <class 'float'>

In [7]:
# 7. Question 7:
# Using the type() function, check and print the data type of the following:
# 45.0
# "hello"
# None
# False

num = 45.0
str = "hello"
none = None
bool = False

print(type(num),"\n",type(str),"\n",type(none),"\n",type(bool))

<class 'float'>
 <class 'str'>
 <class 'NoneType'>
 <class 'bool'>

In [8]:
# 8. Question 8:
# Write a Python program
# to print three strings "apple" , "banana" , and "cherry" on the same line, separated by a space.
# Then modify the program to separate the strings using a comma , instead of a space.

print("apple","banana","cherry")
print("apple","banana","cherry",sep=",")

apple banana cherry
apple,banana,cherry

In [9]:
# 9. Question 9:
# Create a variable big_number and assign it a very large integer value (e.g., 987654321987654321 ).
# Print the value and its type. What do you notice about the size of the number?

big_number = 987654321987654321
print("big_number =",big_number,"\nType =",type(big_number))

big_number = 987654321987654321
Type = <class 'int'>

In [10]:
# 10. Question 10:
# Write a Python program that prints the result of multiplying two floats (e.g., 2.5 and 3.7 ).
# Then check and print the data type of the result.

num1 = 2.5
num2 = 3.7
multiply = num1 * num2
print("multiply =",multiply,"\nType =",type(multiply))

multiply = 9.25
Type = <class 'float'>